<div class="main-music-controls">
    <div class="controls-container-left">

    </div>

    <div class="controls-container-right">
        <div class="song-data-container">
            <span class="controls-song-info">Song,Album,Artist</span>
            <div class="progress" id="progress-bar"></div>
            <span class="controls-song-time">00:00</span> 
        </div>
    </div>
    <div class="controls-button-container">
        <button class='pp-button'></button>
        <div class="shuffle-btns" id="shuffle-btn"></div>
    </div>
</div>