<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{paths.css}}global.css">
	<!-- {{#if css}}
	<link rel="stylesheet" type="text/css" href="{{paths.css}}pages/{{page}}.css">
	{{/if}} -->
	<script src="{{paths.js}}global.js" defer></script>
	{{#if js}}
	<script src="{{paths.js}}pages/{{page}}.js" defer></script>
	{{/if}}
	<title>{{title}}</title>
</head>
<body>
	<div class="main-container">
		<div class="main-header">
			<h1 id="home-heading">Home</h1>
		</div>
		<div class="main-content-container">
			{{> body}}
		</div>
		<div class="main-controls">
			{{> music-controls}}		
			{{> nav}}
		</div>
	</div>
</body>
</html>
